

.carousel-ban-text-adj {
    position: absolute;
    display: flex;
    background-color: rgb(0,0,0, 0.4);
    border-radius: 12px;
    padding: 8px;
}
.carousel-header-adj{
    text-align: center;
    font-family: 'PT Sans', sans-serif;
    font-size: 30px;
    -webkit-text-stroke: 0.2px white;
}
.carousel-header-adj:before {
    content: "";
    width: 65px;
    height: 1px;
    background: #fff;
    position: absolute;
    left: 0;
    bottom: 14px;
    z-index: 22;
}
.carousel-header-adj:after{
    content: "";
    width: 65px;
    height: 1px;
    background: #fff;
    position: absolute;
    right: 0;
    bottom: 14px;
    z-index: 22;
}
@media (min-width: 1024px) {
    .carousel-ban-text-adj {
        width: 800px;
    }
    .carousel-header-adj:before {
        width: 95px;
    }
    .carousel-header-adj:after {
        width: 95px;
    }
} 
.carousel-paragraph {
    margin-top: 15px;
    margin-bottom: 15px;
    text-align: center;
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
    color: rgb(255, 255, 255);
    font-size: 45px;
    -webkit-text-stroke: 0.2px white;
    text-transform: none;
}

@media (min-width: 1025px) {
    .carousel-paragraph {
        text-transform: uppercase;
    }
}
.carousel-img-fit{
    min-width: 980px;
    min-height: 500px;
    object-fit: cover;
    object-position: 50% 50%;
}
.carousel-banner{
    min-height: 500px;
}

@media (max-width: 576px) {
    .carousel-banner {
        max-height: 400px;
    }
    .carousel-paragraph{
        font-size: 16px;
        font-weight: 300;
    }
}

@media (min-width: 577px) {
    .carousel-banner {
        max-height: 500px;
    }
}

@media (min-width: 1025px) {
    .carousel-banner {
        max-height: 930px;
    }
}

.carousel-banner-indicator{
    margin-left:auto;
    margin-right:auto;
    transition: 1s;
}
.carousel-indicators li {
    width: 250px;
    margin-top: -150px;
    margin-left: -60px;
    transition: 1s;
    opacity: 1;
}
.carousel-indicators li.active {
    border-top: 4px solid #8e3387;
    z-index:15;
}
.carousel-swap-adjuster{
    bottom: -20px;
}
.carousel-banner.active { 
    display: flex;
    justify-content: center;
}
.carousel-banner.carousel-item-next{
    display: flex;
    justify-content: center;
}
.carousel-banner.carousel-item-prev{
    display: flex;
    justify-content: center;
}
@media (max-width: 768px) {
.carousel-swap-adjuster{
    bottom: -40px;
}
}
@media (max-width: 550px) {
.carousel-swap-adjuster{
    bottom: -75px;
}
}
@media (max-width: 380px) {
.carousel-swap-adjuster{
    bottom: -105px;
}
}

h1, p{
    color:white;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: black;
}
p{
    font-size: 28px;
}
a{
    -webkit-text-stroke-width: 0px;
}
.tile_1{
    z-index: 14;
}
.tile_2{
    z-index: 13;
}
.tile_3{
    z-index: 12;
}