.justify-content-space-evenly{
    justify-content: space-evenly;
}
.introduction-box-area {
    padding: 100px 0px;
}
.fixed-top {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1030;
}
.border-bottom-light {
    border-bottom: 1px solid rgba(0,0,0,.1);
}
.link-wrap {
    white-space: pre-wrap; /* CSS3 */    
    white-space: -moz-pre-wrap; /* Mozilla, since 1999 */
    white-space: -pre-wrap; /* Opera 4-6 */    
    white-space: -o-pre-wrap; /* Opera 7 */    
    word-wrap: break-word; /* Internet Explorer 5.5+ */
}
.font-white {
    color: white;
    -webkit-text-stroke: 0.2px white;
}