.mt-68 {
    margin-top: 68px;
}
.justify-content-space-evenly{
    justify-content: space-evenly;
}
.introduction-box-area {
    padding: 100px 0px;
}
.fixed-top {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1030;
}