@import url("carousel.css");
@import url("helpers.css");
@import url("navbar.css");
@import url("scrolldown.css");

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=PT+Sans:ital@1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');

a { 
    color: inherit
}
a:hover {
    text-decoration: none;
    color: inherit;
}

body {
    font-family: "Montserrat", sans-serif;
}
.my-btn-main {
    background-color: #93837e;
    border-color: #93837e;
    color: #ffffff;
}
.my-btn-main:hover{
    background-color: rgb(147,131,126, 0.8);
    border-color: rgb(147,131,126, 0.8);
    color: black
}
.main-big-title h1 {
    color: #93837e;
    font-family: "Montserrat", sans-serif;
    font-size: 32px;
    font-weight: bold;
    letter-spacing: .96px;
    text-transform: uppercase;
    padding-bottom: 15px;
    position: relative;
    -webkit-text-stroke: 0.2px #93837e;
}
.main-big-title h6 {
    font-size: 16px;
    color: #242424;
    font-family: "Open Sans", sans-serif;
    font-weight: 700;
    font-style: italic;
    letter-spacing: .48px;
    padding: 35px 0px 13px 0px;
}

.main-big-title h1:before {
    content: "";
    width: 70px;
    background: #000;
    left: 50%;
    transform: translateX(-50%);
    height: 1px;
    bottom: 0px;
    position: absolute;
}

.main-describe {
    font-size: 15px;
    font-family: "Open Sans", sans-serif;
    font-weight: 300;
    letter-spacing: .225px;
    line-height: 26px;
    color: #898989;
    -webkit-text-stroke: 0.2px #898989;
}
/* Pokoje */
.card-body {
    min-height: 300px;
}
.card figure {
    background: black;
}
.card figure img {
	opacity: 1;
	-webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
    border-radius: .25rem;
}
.card figure:hover img {
	opacity: .7;
    border-radius: .25rem;
}

.card-body h4 {
    font-size: 20px;
    font-family: "Montserrat", sans-serif;
    font-weight: bold;
    letter-spacing: .60px;
    color: #242424;
    text-transform: uppercase;
    transition: all 300ms linear 0s;
}
.card-body h4:hover {
    color: #93837e;
}
.card-body p {
    font-size: 15px;
    font-family: "Open Sans", sans-serif;
    font-weight: 300;
    letter-spacing: .225px;
    line-height: 26px;
    color: #898989;
    -webkit-text-stroke: 0.2px #898989;
    padding-top: 25px;
}
.my-card-footer {
    position: absolute;
    width: 100%;
    left: 0;
    padding: 0 35px;
    bottom: 22px;
    justify-content: space-between;
}
.my-card-footer h3 {
    font-size: 20px;
    font-family: "Montserrat", sans-serif;
    font-weight: bold;
    color: #242424;
    /* letter-spacing: .60px; */
    padding-top: 10px;
}
.my-card-footer h3 span {
    color: #a0a0a0;
    font-size: 14px;
}
/* opinie */

.paral {
    background: url("images/main_foto_1.jpg") no-repeat fixed center center;
    background-size: cover;
    position: relative;
    z-index: 3;
    padding: 100px 0px;
}
.paral h1 {
    color: white;
    font-family: "Montserrat", sans-serif;
    font-size: 32px;
    font-weight: bold;
    letter-spacing: .96px;
    text-transform: uppercase;
    padding-bottom: 15px;
    position: relative;
    -webkit-text-stroke: 0.2px white;
}
    
.paral:before {
    content: "";
    background: rgba(0, 0, 0, 0.5);
    position: absolute;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    z-index: -1;
}

.fa-thumbs-up {
    color: white;
    font-size: 1.5rem;
}
.paral-logo {
    max-width: 110px;
    border-radius: 3px;
    background-color: #ffffff;
}
.paral .carousel{
    margin-top: 50px;
}
.paral .carousel-inner{
    height: 30vh;
}
.paral .carousel-caption{
    color: #fff;
    top: 50%;
}
.paral .carousel-caption p {
    font-size: 15px;
    font-family: "Open Sans", sans-serif;
    font-weight: 300;
    letter-spacing: .225px;
    line-height: 26px;
    color: white;
    -webkit-text-stroke: 0.2px white;
}
.paral .carousel-content-review {
    overflow: hidden;
    height: 188px;
}

@media (max-width: 767px) {
    .paral .carousel-content-review {
        height: 110px;
    }
    .paral .container .font-white {
        font-size: 20px;
    }
}