@import url("carousel.css");
@import url("helpers.css");

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=PT+Sans:ital@1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');

a { 
    color: inherit
}
a:hover {
    text-decoration: none;
    color: inherit;
}

body {
    font-family: "Montserrat", sans-serif;
}

.text-logo {
    font-family: "Dancing Script", cursive;
    color: black;
}

.my-nav-mobile {
    width: 100%;
    top:0;
    z-index:10;
    float: left;
    margin:0;
    overflow:hidden;
    background-color: #e6e6e6;
}

/* .my-nav-mobile .text-logo {
    font-size: 65px;
} */

.my-nav-mobile-font {
    color: rgba(0,0,0,.5);
    -webkit-text-stroke: 0.2px rgba(0,0,0,.5);
    font-size: 16px;
}

.my-nav-item {
    border-bottom: 1px solid rgba(0,0,0,.3);
}

.my-section-jumbotron{
    position: relative;
    overflow: hidden;
    background-color: rgb(0,0,0, 0.4);
}

.my-jumbotron{
    width: 100%;
    background-color: transparent;
    height: 94vh;
}

.main-big-title h1 span {
    color: black;
    -webkit-text-stroke: 0.2px black;
}
.main-big-title h1 {
    color: #ffb606;
    font-family: "Montserrat", sans-serif;
    font-size: 32px;
    font-weight: bold;
    letter-spacing: .96px;
    text-transform: uppercase;
    padding-bottom: 15px;
    position: relative;
    -webkit-text-stroke: 0.2px #ffb606;
}

.main-big-title h6 {
    font-size: 16px;
    color: #242424;
    font-family: "Open Sans", sans-serif;
    font-weight: 700;
    font-style: italic;
    letter-spacing: .48px;
    padding: 35px 0px 13px 0px;
}

.main-big-title h1:before {
    content: "";
    width: 70px;
    background: #000;
    left: 50%;
    transform: translateX(-50%);
    height: 1px;
    bottom: 0px;
    position: absolute;
}

.main-describe {
    font-size: 15px;
    font-family: "Open Sans", sans-serif;
    font-weight: 300;
    letter-spacing: .225px;
    line-height: 26px;
    color: #898989;
    -webkit-text-stroke: 0.2px #898989;
    padding-top: 25px;
}

