.justify-content-space-evenly{
    justify-content: space-evenly;
}
.introduction-box-area {
    padding: 100px 0px;
}
.fixed-top {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1030;
}
.border-bottom-light {
    border-bottom: 1px solid rgba(0,0,0,.1);
}
.border-top-light {
    border-top: 1px solid rgba(0,0,0,.1);
}
/* .link-wrap {
    white-space: pre-wrap;
    white-space: -moz-pre-wrap;
    white-space: -pre-wrap;   
    white-space: -o-pre-wrap;
    word-wrap: break-word;
} */
.font-white {
    color: white;
    -webkit-text-stroke: 0.2px white;
}
.img-width-300 {
    width: 300px;
}
.font-size-xxs {
    font-size: 10px;
}