.fa-thumbs-up {
    color: white;
    font-size: 1.5rem;
}
.fa-envelope {
    color: #93837e;
    font-size: 1.5rem;
}
.fa-phone {
    color: #93837e;
    font-size: 1.5rem;
}
.fa-map-marker-alt {
    color: #93837e;
    font-size: 1.5rem;
}
.fa-facebook {
    color: #93837e;
    font-size: 1.5rem;
}